**/.env
**/.env.*
!**/.env.example
**/vendor/
**/node_modules/
**/.git/
**/*.log
**/error_log
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/public/storage
**/uploads/*
**/*.backup*
**/.idea/
**/.vscode/
*.zip
